<h1><kbd><i class="fas fa-code"></i></kbd> API For Developers</h1>

<br>


<div class="table-responsive">
  <table class="table col-sm-12">
    <tr>
      <th><span class="badge badge-primary btn-block">POST</span></th>
      <th><%= root_url %>api/v1/enrollments (.json)</th>
      <th>Return list of enrolled courses.</th>
    </tr>
  </table>
</div>

<h1><kbd><i class="fas fa-terminal"></i></kbd> Parameters</h1>

<br>
 
<div class="table-responsive">
  <table class="table col-sm-12">
    <thead>
      <tr>
        <th>Parameter</th>
        <th>Required/Optional</th>
        <th>Data Type</th>
        <th>Example</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>semester</td>
        <td>Required</td>
        <td>Integer</td>
        <td>2</td>
      </tr>
      <tr>
        <td>year</td>
        <td>Required</td>
        <td>Integer</td>
        <td>61</td>
      </tr>
      <tr>
        <td>sid</td>
        <td>Required</td>
        <td>Integer</td>
        <td>5705106XX</td>
      </tr>
    </tbody>
  </table>
</div>


<hr>
<h5>*Recommended Postman for Api testing</h5>

