
<h1>Group User</h1>
<% current_year = Date.today.year+543 %>
<% end_year = 2555 %>


<table class="table table-hover">
  <thead>
    <tr>
      <th>ชั้นปี</th>
      <th>จำนวนการ Login</th>
    </tr>
  </thead>

  <tbody>
    <% while current_year >= end_year do%>
      <% count = User.where("sid LIKE ?", "#{current_year.to_s[2,4]}%").count %>
       <tr>
            <td><%= current_year.to_s[2,4] %></td>
            <td><%= count%></td>
        </tr>

      <% current_year-=1 %>
      
    <% end %>
  </tbody>
</table>



<h1>Listing Users</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Ip</th>
      <th>Sid</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.ip %></td>
        <td><%= user.sid %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
