<% content_for :menu do %>
<li><a href="\timetable">Timetable</a></li>
<li><a href="\examschedule">Exam schedule</a></li>
<li><a href="\help">Help</a></li>
<li><a href="\contact">Contact</a></li>
<% end %>           
<h1>HELP</h1>