<% content_for :menu do %>
<li><a href="timetable"><span class="glyphicon glyphicon-time"></span> TIMETABLE</a></li>
<li><a href="exam"><span class="glyphicon glyphicon-list-alt"></span> EXAM</a></li>
<li><a href="calculateGPA"><span class="glyphicon glyphicon-text-background"></span> Calculate GPA</a></li>
<% end %>   


<style>
/*.fb_iframe_widget{
	overflow: hidden;
}
.fb_ltr{
	margin-bottom: -20cm;
}
._ohe.lfloat{
	background-color: yellow;
}
._42ef._8u{
	background-color: yellow;
}
div.fb_ltr._5lm5._2pi3._3-8y{
	background-color: yellow;
}
div.fb_ltr.clearfix{
	background-color: yellow;

}*/
</style>




<h1>Comments <span class="glyphicon glyphicon-comment"></span></h1>

<hr>
<div class="row">
	<div class="col-md-12 text-center">
		<div class="fb-comments " data-href="https://helpers4cmu.herokuapp.com/" data-numposts="5" data-colorscheme="dark" data-order-by="reverse_time"></div>
	</div>

	<div class="col-md-12 text-center">
		<div class="fb-follow" data-href="https://www.facebook.com/KampeeTonOi.Aecute" data-layout="button_count" data-show-faces="true"></div>
		<div class="fb-like" data-href="https://helpers4cmu.herokuapp.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
	</div>
</div>


