<%= render 'timetable', courses: @courses %>

<hr>

<%= render 'fb_comments' %>


<tr>

          <td colspan="2" class="text-center">day</td>

          <td colspan="11" class="gray"></td>

          <td style="vertical-align:middle;" colspan="4" class="text-center course1">
            &nbsp;PRINCIPLES OF STATISTICS<br>
            001-000 
            <i class="fas fa-graduation-cap"></i>
            208264 <br>
            <i class="fas fa-map-marker-alt"></i>
            <strong>STB206</strong>
          </td>

          <td colspan="3" class="gray"></td>

        </tr>