<h1>SHOW</h1>

<%= render 'timetable', times: @times, days: @days, classes: @classes, courses: @courses, range: @range, course_days: @course_days %>

<hr>

<%= render 'exam', times: @times, days: @days, classes: @classes, courses: @courses_mid, range: @range_mid, course_days: @course_days_mid %>

<hr>

<%= render 'exam', times: @times, days: @days, classes: @classes, courses: @courses_final, range: @range_final, course_days: @course_days_final %>

<hr>

