<div class="container">

	<div class="col-md-12 text-center">
		<div class="col-md-12 text-center">
			<div class="fb-like" data-href="https://www.facebook.com/Timetable-For-CMU-1278433102305206" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
			<div class="fb-share-button" data-href="https://timetable4cmu.herokuapp.com/" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ftimetable4cmu.herokuapp.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"></a></div>
		</div>
	</div>

	<h1>Comments <i class="far fa-comments"></i></h1>

	<hr>
	<div class="row">
		<div class="col-md-12 text-center">
			<div class="fb-comments " data-href="https://developers.facebook.com/timetable4cmu" data-numposts="5" data-colorscheme="dark" data-order-by="reverse_time"></div>
		</div>
	</div>

</div>

