/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 *= require timetable
 */

@import "bootstrap";

body{
  color: white; 
  font-family: 'Oxygen', sans-serif; 
  background-color: #303030;
}

//for footer
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -20px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 20px; 
}

#admin_email,#admin_password{
  color: black !important;
}

// .navbar-collapse.collapse {
//   display: block!important;
// }

// .navbar-nav>li, .navbar-nav {
//   float: left !important;
// }

// .navbar-nav.navbar-right:last-child {
//   margin-right: -15px !important;
// }

// .navbar-right {
//   float: right!important;
// }


// a:link {
//     color: gray;
// }

// a:visited {
//     color: gray;
// }

// a:hover {
//     color: gray;
//     background:none;
// }

/* Define the hover highlight color for the table row */
// .table-hover tbody tr:hover td, .table-hover tr:hover {
//   background-color: gray;
// }


// .fixed-table-container tbody td .th-inner, .fixed-table-container thead th .th-inner{
//   display: none !important;
// }

