// Place all the styles related to the enrollment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.course1{
  background-color: #FF6138 !important
}

.course2{
  background-color: #DA9844 !important
}

.course3{
  background-color: #2B4C8C !important
}

.course4{
  background-color: #F25F5C !important
}

.course5{
  background-color: #00A388 !important
}

.course6{
  background-color: #247BA0 !important
}

.course7{
  background-color: #A6937C !important
}

.course8{
  background-color: #332532 !important
}

.course9{
  background-color: #644D52 !important
}

.course10{
  background-color: #0D1326 !important
}

.black{
  background-color: #212121
}

.gray{
  background: linear-gradient(to bottom, #424242, #424242 97%, #5D5959 3%, #5D5959);
    background-size: 100% 25px;
}

.gray2{
  background: linear-gradient(to bottom, #5D5959, #5D5959 97%, #424242 3%, #424242);
    background-size: 100% 25px;
}

.fb-like{
  padding-bottom: 5px;
}

.fb_iframe_widget_fluid {
  display: -webkit-inline-box !important;
}

input{
  margin-bottom: 10px !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #424242; 
}

::-webkit-scrollbar-corner { 
  background:#424242; 
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: #424242; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black; 
}