// Place all the styles related to the enrollment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.course1{
  background-color: #FF6138
}

.course2{
  background-color: #DA9844
}

.course3{
  background-color: #2B4C8C
}

.course4{
  background-color: #644D52
}

.course5{
  background-color: #00A388
}

.course6{
  background-color: #247BA0
}

.course7{
  background-color: #A6937C
}

.course8{
  background-color: #332532
}

.course9{
  background-color: #F25F5C
}

.course10{
  background-color: #0D1326
}